@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


:root {
    --primary-color : #184481;
    --secondary-color : #00565F;
    --accent-color : #DFF2F4;;
    --glass-color : #ffffff00;
    --light-color : #7E7D7A;
}

/* NAVBAR  */
#navbar nav {
    background-color: var(--accent-color);
    padding: 20px 0px;
}

.navbar .navbar-brand img:nth-child(1) {
    max-height: 30px;
}

.navbar .navbar-brand img:nth-child(2) {
    max-height: 20px;
}

.navbar .collapse {
    position: relative;
    justify-content: end;
}

.navbar ul {
    position: absolute;
}

.navbar ul li {
    border: 1px solid var(--accent-color);
}

.navbar ul li:hover {
    /* background-color: var(--color2); */
    border-bottom: 1px solid var(--primary-color);
    /* border-radius: 5px; */
}
/* NAVBAR  */


/* HOME PAGE  */
header {
    background-color: var(--accent-color);
}

header .row .head {
    margin-block: 60px;
}


.header h1 {
    font-weight: 600;
    font-size: 48px;
    color: var(--secondary-color);
}

.header h1 span {
    color: var(--primary-color);
}

.header p {
    color: var(--light-color);
    font-size: 18px;
}

.header button {
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px;
}

.header button:nth-child(1) {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.header button:nth-child(2) {
    background-color: var(--glass-color);
    color:#F4AE26;
}

.unggulan {
    background-image: url(../img/home/bg.png);
    background-size: cover;
}

.unggulan .list-product .item-product {
    background-color: #ffff;
}

.kenapa .tulisan {
    background-color: var(--accent-color);
}

.kenapa .tulisan p {
    /* color: var(--light-color); */
    font-size: 16px;
}


/* PAGE PRODUCT  */
/* FONT    */
.product h1, .product h5, .product h6 {
    color: var(--secondary-color);
}

.product p {
    color: var(--light-color);
}

/* HEADING SECTION  */
.product .head {
    background-color: var(--accent-color);
    /* margin-bottom: 60px; */
}

.product .list-product,
.unggulan .list-product {
    padding-block: 60px;
}

.product .list-product .item-product img,
.unggulan .list-product .item-product img,
.product-spesial .item-product img {
    /* max-width: 300px;
    max-height: 200px; */
    width: 300px;
    height: 200px;
}

.product .list-product .item-product button,
.unggulan .list-product .item-product button,
.product-spesial .item-product button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
}

.product .list-product .item-product button:hover,
.unggulan .list-product .item-product button:hover,
.product-spesial .item-product button:hover {
    background-color: #022f34;
}

.product .list-product .item-product button img,
.unggulan .list-product .item-product button img,
.product-spesial .item-product button img {
    /* border-radius: 100%; */
    width: 18px;
    height: 17px;
}

.product .list-product .item-product p ,
.unggulan .list-product .item-product p,
.product-spesial .item-product p {
    margin: 16px 0px 0px 0px;
}